* {
    font-family: 'Open Sans', sans-serif;
}

/* 1. Flat corners and remove shadows */
.card, .card-header {
    border-radius: 1px !important;
    box-shadow: none !important;

}

.card-title-custom {
  text-align: center;
  position: relative;
  left: -60px; /* Moves the text 20px to the left of the center */
}

/* 2. Remove padding from Card and Grid containers */
.card-content {
    padding: 0 !important;
}

/* 3. Tighten the Table inside matches */
.table {
    margin-bottom: 0 !important;
    background-color: transparent;
}

.table td {
    padding: 2px 4px !important; /* Minimal padding for legibility */
}

tr { 
  border: solid;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

/* 4. Slim down Headers */
.card-header {
    min-height: unset !important;
}

.card-header-title {
    --bulma-card-header-padding: 2px 4px !important;
}

/* 5. Print & Layout Optimization */
@media print {
    @page {
        size: landscape;
        margin: 5mm; /* Minimum physical margin */
    }
    
    body {
        margin: 0;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .card {
        break-inside: avoid;
    }
    .with-background {
        border: 3px solid #EC1F25 !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

.rounds {
    zoom: 0.85; /* Adjusted to fill the width of the page better */
}

.has-background-brand-red-light {
    background-color: #FDE9EA !important;
}

.has-color-brand-red {
    color: #EC1F25 !important;
}