<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Tournament.Name }} {{.Tournament.StartDate}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link rel="stylesheet" href="style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>

  <section class="hero p-4">
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <p class="title is-italic"><strong>{{ .Tournament.Name }} {{.Tournament.StartDate}}</strong></p>
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <p class="level-item has-text-centered">
          <img src="padel-center-logo.svg" alt="padel-center-logo" style="height: 30px" />
        </p>
      </div>
    </nav>
  </section>

  <section class="rounds">
    {{range .Tournament.Rounds}}
    <div class="card mb-0 is-gap-0">

      <header class="card-header">
        <p class="card-header-title is-centered is-italic has-text-weight-bold is-size-4">ROUND {{.RoundNumber}}</p>
      </header>

      <div class="card-content">

        <div class="grid is-col-min-12 is-gap-column-1 is-row-gap-0">
          {{range .Matches}}
          <div class="cell">
            <div class="card">
              <header class="card-header with-background">
                <p class="card-header-title card-title-custom is-centered is-italic has-text-weight-semibold is-size-6">CAMPO {{.Court}}</p>
              </header>

              <div class="card-content p-2">

                <table class="table is-narrow is-fullwidth mb-0">
                  <tbody>
                    <tr class="is-size-7">
                      <td class="has-text-right" style="width: 45%;">{{.TeamA}}</td>
                      <td class="has-background-brand-red-light has-text-centered" style="width: 10%;">{{.ScoreA}}</td>
                    </tr>
                    <tr class="is-size-7">
                      <td class="has-text-right">{{.TeamB}}</td>
                      <td class="has-background-brand-red-light has-text-centered">{{.ScoreB}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          {{ end }}
        </div>

      </div>
    </div>
    {{ end }}
  </section>



</body>

</html>