name: golangci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  GO_VERSION: 1.25.5
  GOLANGCI_LINT_VERSION: v2.6

jobs:

  build-client:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          version: 10.27.0
          run_install: true
      - name: Compile client
        run: make client
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: client
          path: cmd/tgminiapp/dist/

  lint:
    runs-on: ubuntu-latest
    needs: build-client
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Download client
        uses: actions/download-artifact@v7
        with:
          name: client
          path: cmd/tgminiapp/dist/
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

  test:
    runs-on: ubuntu-latest
    needs: build-client
    steps:
    - uses: actions/checkout@v5
    - name: Download client
      uses: actions/download-artifact@v7
      with:
        name: client
        path: cmd/tgminiapp/dist/
    - name: Install chromium
      run: sudo apt-get update && sudo apt-get install -y --no-install-recommends chromium
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Test
      env:
        CHROME_EXECUTABLE: chromium
      run: go test -v ./...

  build:
    runs-on: ubuntu-latest
    needs: build-client
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Download client
        uses: actions/download-artifact@v7
        with:
          name: client
          path: cmd/tgminiapp/dist/
      - name: Build
        run: make backend

